/* .main-all {
    border: 1px solid #333333;
    width: 200px;
    height: 100px;
    
} */
.main {
    text-align: center;
    padding: 20px;
    border: 1px solid #333333;
}
body {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span, .text-input, .main-button {
    margin-top: 30px;
    font-size: 24px;
}
button {
    width: 225px;
    padding: 5px 10px;
    background: #636e72;
    border-radius: 3px;
    color: aliceblue;
}
input {
    width: 500px;
    height: 30px;
}
.main-button {
    width: 500px;
    display: flex;
    justify-content: space-between;
}